<div class="select-table">
  <%= label_tag 'Table', 'Select Tables' %>
  <%= select_tag 'Tables', options_for_select(@model_name), include_blank: 'Select Table', id: 'table-select', class: 'basic-single' %>
</div>

<div id="checkboxes"></div>

<%= javascript_tag do %>
  $(document).ready(function() {
    // Initialize select2
    $('#table-select').select2();

    // Handle change event
    $('#table-select').change(function() {
      var selectTable = $(this).val();
      if (!selectTable) return;
      console.log('Calling API to get column names');

      $.ajax({
        url: '/send_coloum_name',
        method: 'GET',
        data: { table: selectTable },
        success: function(response) {
          var checkboxesContainer = $('#checkboxes');
          checkboxesContainer.empty();

          var form = $('<form>').attr({
            id: 'checkbox-form',
            action: '/download',
            method: 'GET'
          }).addClass('export-form');

          var hiddenField1 = $('<input>').attr({
            type: 'hidden',
            name: 'table',
            value: selectTable
          });

          form.append(hiddenField1);

          // Create select all section
          var selectAllContainer = $('<div>').addClass('select-all-container');
          var selectAllCheckbox = $('<input>').attr({
            type: 'checkbox',
            id: 'select-all',
            name: 'select-all',
            checked: true,
            class: 'export-select'
          }).on('change', function() {
            $('.export-select:not(#select-all)').prop('checked', $(this).prop('checked'));
          });

          var selectAllLabel = $('<label>').attr('for', 'select-all')
                                           .text('Select All')
                                           .addClass('export-label');

          selectAllContainer.append(selectAllCheckbox)
                           .append(selectAllLabel);
          form.append(selectAllContainer);

          // Create checkbox grid
          var checkboxGrid = $('<div>').addClass('checkbox-grid');

          for (var i = 0; i < response.length; i++) {
            var key = response[i];
            var checkboxItem = $('<div>').addClass('checkbox-item');

            var checkbox = $('<input>').attr({
              type: 'checkbox',
              id: key,
              name: key,
              value: key,
              checked: true,
              class: 'export-select'
            });

            var label = $('<label>').attr('for', key)
                                   .text(key)
                                   .addClass('export-label');

            checkboxItem.append(checkbox).append(label);
            checkboxGrid.append(checkboxItem);
          }

          form.append(checkboxGrid);

          // Create buttons container
          var buttonsContainer = $('<div>').addClass('buttons-container');

          var exportTypeField = $('<input>').attr({
            type: 'hidden',
            name: 'type',
            id: 'export-type',
            value: 'CSV'
          });

          var csvButton = $('<button>').attr({
            type: 'submit',
            class: 'export-button'
          }).text('Export CSV').on('click', function() {
            $('#export-type').val('csv');
          });

          var excelButton = $('<button>').attr({
            type: 'submit',
            class: 'export-button'
          }).text('Export Excel').on('click', function() {
            $('#export-type').val('excel');
          });

          var jsonButton = $('<button>').attr({
            type: 'submit',
            class: 'export-button'
          }).text('Export JSON').on('click', function() {
            $('#export-type').val('json');
          });

          var xmlButton = $('<button>').attr({
            type: 'submit',
            class: 'export-button'
          }).text('Export XML').on('click', function() {
            $('#export-type').val('xml');
          });

          buttonsContainer.append(exportTypeField)
                         .append(csvButton)
                         .append(excelButton)
                         .append(jsonButton)
                         .append(xmlButton);

          form.append(buttonsContainer);
          checkboxesContainer.append(form);
        },
        error: function() {
          alert('An error occurred while fetching column information.');
        }
      });
    });
  });
<% end %>
