<div class="select-table">
  <%= label_tag 'Table', 'Select Tables' %>
  <%= select_tag 'Tables', options_for_select(@model_name), include_blank: 'Select Table', id: 'table-select', class: 'basic-single' %>
</div>

<div id="checkboxes"></div>

<%= javascript_tag do %>
  $(document).ready(function() {
    // Initialize select2
    $('#table-select').select2();

    // Handle change event
    $('#table-select').change(function() {
      var selectTable = $(this).val();
      console.log('Calling API to get column names');

      $.ajax({
        url: '/send_coloum_name',
        method: 'GET',
        data: { table: selectTable },
        success: function(response) {
          var checkboxesContainer = $('#checkboxes');
          checkboxesContainer.empty();

          var form = $('<form>').attr({
            id: 'checkbox-form',
            action: '/download',
            method: 'GET'
          });

          var hiddenField1 = $('<input>').attr({
            type: 'hidden',
            name: 'table',
            value: $('#table-select').val()
          });

          form.append(hiddenField1);

          var selectAllCheckbox = $('<input>').attr({
            type: 'checkbox',
            id: 'select-all',
            name: 'select-all',
            checked: true,
            class: 'export-select'
          }).on('change', function() {
            $('input[type="checkbox"]').prop('checked', $(this).prop('checked'));
          });

          var selectAllLabel = $('<label>').attr('for', 'select-all').text('Select All').addClass('export-label');

          var selectAllContainer = $('<div>').css({
            display: 'inline-flex',
            alignItems: 'center',
            marginBottom: '15px'
          });

          selectAllContainer.append(selectAllCheckbox).append(selectAllLabel);
          form.append(selectAllContainer).append('<br>');

          for (var i = 0; i < response.length; i++) {
            var key = response[i];
            var checkbox = $('<input>').attr({
              type: 'checkbox',
              id: key,
              name: key,
              value: key,
              checked: 'checked',
              class: 'export-select'
            });
            var label = $('<label>').attr('for', key).text(key).addClass('export-label');
            form.append(checkbox).append(label).append('<br>');
          }

          var csvButton = $('<input>').attr({
            type: 'submit',
            value: 'Export CSV',
            class: 'export-button'
          }).on('click', function() {
            $('#export-type').val('csv');
          });

          var excelButton = $('<input>').attr({
            type: 'submit',
            value: 'Export Excel',
            class: 'export-button'
          }).on('click', function() {
            $('#export-type').val('excel');
          });

          var exportTypeField = $('<input>').attr({
            type: 'hidden',
            name: 'type',
            id: 'export-type',
            value: 'CSV'
          });

          form.append(exportTypeField);
          form.append(csvButton).append(excelButton);

          checkboxesContainer.append(form);
        },
        error: function() {
          alert('An error occurred while fetching column information.');
        }
      });
    });
  });
<% end %>
